<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Para Bank Automation">
    <listeners><listener class-name="utilities.reporting" />
    </listeners>
    <test verbose="2" preserve-order="true" name="Para Bank Automation Test">
        <classes>
            <class name="testCase.homePageTest">
                <parameter
                        name="browser" value="chrome">
                </parameter>
                <methods>
                    <include name="homePageLogoTest"/>
                    <include name="homePageTitleTest"/>
                </methods>
            </class>
            <class name="testCase.registrationPageTest">
                <parameter
                        name="browser" value="chrome">
                </parameter>
                <methods>
                    <include name="custumerRegistration"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>